@import "../../node_modules/bootstrap/scss/bootstrap";

$color-basic: #EDB200;

body {
  margin: 0;
  padding: 0;
  background: url("/images/berlin.jpeg") no-repeat fixed left;
  background-size: cover;
  font-size: 1.2rem;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.my-navbar {
  font-size: 1.2rem;
}

.scrolled {
  background-color: rgba(black, 0.8);
}


/*---------------------------------------*/

.main-container {
  background-color: rgba(black, 0.4);
  height: 100vh;
  color: $color-basic;
}

.main-content {
  font-size: 1.5rem;
  margin-top: 25vh;
}

.main-downicon {
  margin-top: 6rem;
  box-sizing: border-box;
  i {
    color: $color-basic;
  }
}

/*-----------------End of the first page----------------------*/

.about-container {
  background-color: rgba(#37BEFF, 0.9);
  color: black;

  .myAboutImg {
    width: 50%;
    border-radius: 10%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
  }

  // .tech-list {
  //   color: $color-basic;
  // }

  .tech-list-item {
      border: none;
      background-color: transparent;
  }

}

/*-----------------End of the second page----------------------*/

.projects-container {
  background-color: rgba(black, 0.4);
  color: $color-basic;
}

/*-----------------End of the third page----------------------*/
.contact-container {
  background-color: rgba(#37BEFF, 0.9);    
}
.contact-form {
  background: url("/images/berlin.jpeg") no-repeat fixed left;
  background-size: cover;
  border-radius: 1rem;

  form {
    background-color: rgba(black, 0.8);
    border-radius: 1rem;
    margin: 0;
  }  
}
